<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name='viewport content='width-device-width, initial-scale=1' />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
        />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            crossorigin="anonymous"
        />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script
            src="https://kit.fontawesome.com/a076d05399.js"
            crossorigin="anonymous"
        ></script>

        <title>{% block title %}{% endblock %}</title>
    </head>

    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <!-- If the user have logged in -->
                        {% if user.is_authenticated %} {% if user.name == 'admin' %}
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/"
                                >Hi, {{user.name}}</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link active"
                                aria-current="page"
                                href="/auth/account"
                                >Account</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link active"
                                aria-current="page"
                                href="/wlog/allWorkLog"
                                >All Work Log</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link active"
                                aria-current="page"
                                href="/staffList"
                                >Staff List</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link active"
                                aria-current="page"
                                href="/auth/logout"
                                >Logout</a
                            >
                        </li>
                        {% else %} {% if user.identity == 'supervisor' %}
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/"
                                >Hi, {{user.name}}</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link active"
                                aria-current="page"
                                href="/auth/account"
                                >Account</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link active"
                                aria-current="page"
                                href="/wlog/myWorkLog"
                                >My Work Log</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link active"
                                aria-current="page"
                                href="/wlog/subWorkLog"
                                >Subordinate Work Log</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link active"
                                aria-current="page"
                                href="/staffList"
                                >Staff List</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link active"
                                aria-current="page"
                                href="/auth/logout"
                                >Logout</a
                            >
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/"
                                >Hi, {{user.name}}</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link active"
                                aria-current="page"
                                href="/auth/account"
                                >Account</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link active"
                                aria-current="page"
                                href="/wlog/myWorkLog"
                                >My Work Log</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link active"
                                aria-current="page"
                                href="/staffList"
                                >Staff List</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link active"
                                aria-current="page"
                                href="/auth/logout"
                                >Logout</a
                            >
                        </li>
                        {% endif%} {% endif%} {% else %}
                        <li class="nav-item">
                            <a
                                class="nav-link active"
                                aria-current="page"
                                href="/auth/login"
                                >Login</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link active"
                                aria-current="page"
                                href="/auth/sign-up"
                                >Sign Up</a
                            >
                        </li>
                        {% endif%}
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Navbar End -->

        <!-- Flash msg -->
        {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %}
        {% for category, message in messages%}
        <!-- If it's an error msg -->
        {% if category == 'error' %}
        <div class="alert alert-danger alter-dismissable fade show" role="alert">
            {{message}}
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <!-- If it's a success msg -->
        {% else %}
        <div class="alert alert-success alter-dismissable fade show" role="alert">
            {{message}}
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %} {% endfor %} {% endif %} {% endwith %}
        <!-- Flash msg End -->

        <!-- Content -->
        <div class="container">{% block content %}{% endblock %}</div>
        <!-- Content End -->

        <!-- Script -->
        <script
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"
        ></script>

        <script
            type="text/javascript"
            src="{{ url_for('static', filename='index.js') }}"
        ></script>
        <!-- Script End-->
    </body>
</html>
