{% extends 'base.html' %} {% block title%}Welcome!{% endblock %} {% block content%} <br />
<h1 align="center">Welcome!</h1>
<h2>You can...</h2>
<ul
    style="list-style-type: none"
    class="list-group list-group-flush"
    id="list"
    align="center"
>
    <li><h3>Create, view, edit and delete your work log.</h3></li>
    <li><h3>View work log of all subordinate.</h3></li>
    <li><h3>View emails of all employees.</h3></li>
    <li><h3>Edit personally information.</h3></li>
</ul>
{% endblock %}
